/* :root { */
/*     --GREEN: #A9DC76; */
/*     --RED: #FF6188; */
/*     --ORANGE: #fc9867; */
/*     --YELLOW: #FFD866; */
/*     --PURPLE: #AB9DF2; */
/*     --BLUE: #78DCE8; */
/**/
/*     --DARK: #1D1E19; */
/*     --DARK1: #221F22; */
/*     --DARK2: #2D2A2E; */
/*     --DARK3: #403E41; */
/*     --DARK4: #727072; */
/*     --DARK5: #949491; */
/**/
/*     --WHITE: #FDFFF1; */
/*     --GRAY: #dadada; */
/**/
/*     --DARK-TRA: #1D1E19B3; */
/*     --DARK-TRA1: #221F22B3; */
/*     --DARK-TRA2: #2D2A2EB3; */
/*     --DARK-TRA3: #403E41B3; */
/*     --DARK-TRA4: #727072B3; */
/*     --DARK-TRA5: #949491B3; */
/**/
/*     --bg: var(--DARK1); */
/*     --bg-tra: var(--DARK-TRA); */
/*     --bor: var(--YELLOW); */
/*     --fg: var(--WHITE); */
/*     --fg-alt: var(--GRAY); */
/* } */


@import url("/home/malick-tammal/.shared/swayosd/colors.css");

* {
    font-family: "SF Pro";
    font-size: 14px;
    font-weight: 500;
    color: var(--fg);
    transition: all 200ms ease-in-out;
}

window {
    border-radius: 8px;
    border: 1px solid var(--bor);
    background: var(--bg);
    margin-top: 60px;
}

#container {
    margin: 13px;
}

image,
label {
    color: var(--fg);
}

#container>image {
    -gtk-icon-transform: scale(0.7);
}

progressbar:disabled,
image:disabled {
    opacity: 0.5;
}

progressbar,
segmentedprogress {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
}

trough,
segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: var(--DARK3);
}

progress,
segment.active {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: var(--fg);
}


segment {
    margin-left: 8px;

    &:first-child {
        margin-left: 0;
    }
}
