/*----------------------------------------------------------*/
/*--  HACK: Main --*/
/*----------------------------------------------------------*/

/*  INFO: Colors */

@import "./colors.css";

/*  INFO: Type (transparent / normal) */

@import "./normal.css";
/* @import "./transparent.css"; */
