/*----------------------------------------------------------*/
/*--  HACK: Transparent --*/
/*----------------------------------------------------------*/

:root {
    --bg: var(--DARK-TRA);
    --bor: var(--YELLOW);
    --fg: var(--WHITE);
    --fg-alt: var(--GRAY);
}
