[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Malick-Tammal/monokai-neovim
[submodule ".config/quickshell"]
	path = .config/quickshell
	url = https://github.com/Malick-Tammal/monokai-shell
[submodule ".config/waybar"]
	path = .config/waybar
	url = https://github.com/Malick-Tammal/monokia-waybar
