@import "../../.shared/waybar/colors.css";

* {
    font-family: "SF Pro", "Liga SFMonoNerdFont";
    font-weight: 600;
    background: transparent;
    transition: all 100ms ease;
}

/*  INFO: Modules */
.modules-left,
.modules-right {
    background-color: @BG;
    border: 1px solid @BOR;
    margin: 10px 10px 0px 10px;
    border-radius: 6px;
    padding: 5px;
    font-size: 11px;
}

.modules-left {
    padding: 5px 0 5px 5px;
}

/*  INFO: Workspaces */
#workspaces {
    background-color: @BG;
    border: 1px solid @BOR;
    border-radius: 19px;
    margin: 10px 0 0 0;
    padding: 0 2px;
    font-size: 12px;
}

#workspaces button {
    color: #C0BFBF;
    background: @BG-ALT;
    border-radius: 8px;
    padding: 2px 5px;
    margin: 10px 8px;
    min-height: 0px;
    transition: all 150ms ease-in;
}

#workspaces button.empty {
    color: #929192;
}

#workspaces button.active {
    color: @DARK;
    background: @GREEN;
    min-width: 50px;
    box-shadow: 0px 0px 0px 4px rgba(168, 218, 117, 0.5);
}

#workspaces button.active:hover {
    background: @HOV-GREEN;
}

/*  INFO: Power */
#custom-power {
    padding: 0 10px;
    background-color: @RED;
    border-radius: 3px;
    color: @DARK;
}

#custom-power:hover {
    background: @HOV-RED;
}

/*  INFO: Battery */
#battery {
    padding: 0 13px;
    background: @ORANGE;
    border-radius: 3px;
    color: @DARK;
    margin: 0px 5px;
}

#battery.plugged,
#battery.charging {
    background: @GREEN;
}

#battery:hover {
    background: @HOV-ORANGE;
}

/*  INFO: Network */
#network {
    padding: 0 10px;
    background: @PURPLE;
    border-radius: 3px;
    color: @DARK;
}

#network:hover {
    background: @HOV-PURPLE;
}

/*  INFO: Audio */
#pulseaudio {
    padding: 0 10px;
    background: @BLUE;
    border-radius: 3px;
    color: @DARK;

    margin: 0px 5px 0px 0px;
}

#pulseaudio.muted {
    background: @BG-ALT;
    color: @FG;
}

#pulseaudio:hover {
    background: @HOV-BLUE;
}

/*  INFO: Clock */
#clock.hours,
#clock.minutes{
    font-size: 14px;
    font-weight: 700;
    color: @FG;
}

#clock.hours {
    margin-left: 10px;
}

#clock.minutes {
    color: @YELLOW;
}

/*  INFO: Notification */
#custom-notifications {
    padding: 0 13px 0 10px;
    background: @ORANGE;
    border-radius: 3px;
    color: @DARK;
    margin: 0px 10px 0px 0px;
}

#custom-notifications:hover {
    background: @HOV-ORANGE;
}

/*  INFO: Active app */
#window {
    margin: 0 10px 0 10px;
    padding-left: 10px;
}

/*  INFO: Tooltip */
tooltip {
    background: rgba(0, 0, 0, 0);
    border: none;
}

tooltip * {
    background: transparent;
    border: none;
    box-shadow: none;
}

tooltip label {
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid @BOR;
    background: @BG;
    padding: 8px;
    color: @FG;
    font-size: 12px;
}

/*  INFO: Tray */
#tray {
    padding: 0 13px 0 10px;
    background: @GREEN;
    border-radius: 3px;
    color: @DARK;
    margin: 0px 5px 0px 0px;
    font-size: 20px;
}

#tray menu {
    background: @BG;
    color: @FG;
    border: 1px solid @BOR;
}

#tray:hover {
    background: @HOV-GREEN;
}

/*  INFO: Bluetooth */
#bluetooth {
    padding: 0 13px 0 10px;
    background: @YELLOW;
    border-radius: 3px;
    color: @DARK;
    margin: 0px 5px 0px 0px;
}

#bluetooth:hover {
    background: @HOV-YELLOW;
}
