/*----------------------------------------------------------*/
/*--  HACK: Normal --*/
/*----------------------------------------------------------*/

:root {
    --bg: var(--DARK);
    --bor: var(--YELLOW);
    --fg: var(--WHITE);
    --fg-alt: var(--GRAY);
}
