//---------------------------------------------------------
//--  HACK: Normal colors
//---------------------------------------------------------

* {
    BG: @DARK;
    BG-ALT: @DARK;
    FG: @WHITE;
    SEL: @BLUE;
    BOR: @YELLOW; 
    SEL-BG: @YELLOW; 
}
