/*----------------------------------------------------------*/
/*--  HACK: Transparent --*/
/*----------------------------------------------------------*/

@define-color BG @DARKER-TRA;
@define-color BG-ALT @DARK-TRA;
@define-color FG @WHITE;
@define-color FG-ALT #4C474D;
@define-color BOR @YELLOW;
@define-color SEL-BG @ORANGE;
