/* 
┌─┐┬┌┬┐┌─┐┬  ┌─┐
└─┐││││├─┘│  ├┤ 
└─┘┴┴ ┴┴  ┴─┘└─┘
┌─┐┌─┐─┐ ┬      
├┤ │ │┌┴┬┘      
└  └─┘┴ └─

by Miguel Avila

*/

:root {
  scrollbar-width: none !important;
}

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}

.TridactylHint {
  background-color: #fc9867 !important;
  color: #31332a !important;
  border: 2px solid #31332a !important;
  border-radius: 9999px !important;
  font-family: monospace !important;
  font-weight: bold !important;
  font-size: 13px !important;
  text-transform: uppercase !important;
  padding: 2px 4px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5) !important;
  opacity: 1 !important;
}

.TridactylHint.TridactylHintActive {
  background-color: #ffd866 !important;
  color: #31332a !important;
  border-color: #a7a9a2 !important;
}

.TridactylStatusIndicator {
  background-color: #31332a !important;
  color: #a9dc76 !important;
  border: 1px solid #a9dc76 !important;
  border-radius: 9999px !important;
  font-family: monospace !important;
  font-weight: bold !important;
  font-size: 12px !important;
  padding: 4px 8px !important;
  margin: 4px !important;
}

#tridactyl-cmdline-iframe {
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5) !important;
}
