:root {
    --GREEN: #A9DC76;
    --RED: #FF6188;
    --ORANGE: #fc9867;
    --YELLOW: #FFD866;
    --PURPLE: #AB9DF2;
    --BLUE: #78DCE8;

    --DARK: #1D1E19;
    --DARK1: #221F22;
    --DARK2: #2D2A2E;
    --DARK3: #403E41;
    --DARK4: #727072;
    --DARK5: #949491;

    --WHITE: #FDFFF1;
    --GRAY: #dadada;

    --DARK-TRA: #1D1E19E6;
    --DARK-TRA1: #221F22E6;
    --DARK-TRA2: #2D2A2EE6;
    --DARK-TRA3: #403E41E6;
    --DARK-TRA4: #727072E6;
    --DARK-TRA5: #949491E6;
}

/*  INFO: Type (transparent / normal) */

/* @import "./normal.css"; */
@import "./transparent.css";
