:root {
  --GREEN: #A9DC76;
  --RED: #FF6188;
  --ORANGE: #fc9867;
  --YELLOW: #FFD866;
  --PURPLE: #AB9DF2;
  --BLUE: #78DCE8;
  --DARK: #1D1E19;
  --DARK1: #221F22;
  --DARK2: #2D2A2E;
  --DARK3: #403E41;
  --DARK4: #727072;
  --DARK5: #949491;
  --WHITE: #FDFFF1;
  --GRAY: #dadada;
  --DARK-TRA: #1D1E19E6;
  --DARK-TRA1: #221F22E6;
  --DARK-TRA2: #2D2A2EE6;
  --DARK-TRA3: #403E41E6;
  --DARK-TRA4: #727072E6;
  --DARK-TRA5: #949491E6;
  --bg: var(--DARK);
  --fg: var(--WHITE);
  --fg-alt: var(--DARK5);
  --bor: var(--YELLOW);
}

button {
  outline: none;
  margin: 0;
  border: none;
  min-width: 0;
  min-height: 0;
}

window.bar {
  background: transparent;
  margin: 10px 10px 0.5px 10px;
  padding: 0;
  font-family: "SF Pro", "Liga SFMonoNerdFont";
  font-weight: 600;
  font-size: 11px;
}
window.bar .left,
window.bar .right,
window.bar .workspaces {
  background: var(--bg);
  border: 1px solid var(--bor);
  border-radius: 6px;
  padding: 5px;
}
window.bar .left button,
window.bar .right button,
window.bar .workspaces button {
  padding: 0px 12px;
  border-radius: 3px;
  color: var(--bg);
}
window.bar .workspaces {
  padding: 10px;
  border-radius: 2000px;
}
window.bar .workspaces button {
  border-radius: 2000px;
  padding: 2px 0px;
  min-width: 35px;
  color: var(--fg-alt);
  background: var(--DARK3);
  transition: min-width 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55), background 200ms ease-in-out, box-shadow 350ms ease-in-out, color 100ms ease-in-out;
}
window.bar .workspace-btn.occupied {
  color: var(--fg);
  font-weight: bold;
}
window.bar .workspace-btn.focused {
  background: var(--GREEN);
  color: var(--bg);
  box-shadow: 0px 0px 0px 4px rgba(168, 218, 117, 0.5);
  min-width: 60px;
}
window.bar .power-btn {
  background: var(--RED);
  border-radius: 3px;
}
window.bar .wifi-btn {
  background: var(--ORANGE);
  border-radius: 3px;
  margin-right: 5px;
}
window.bar .wifi-btn image {
  -gtk-icon-size: 15px;
  color: var(--DARK);
}
window.bar .notification {
  background: var(--ORANGE);
  border-radius: 3px;
}
window.bar .clock label {
  font-size: 15px;
  font-weight: 900;
  color: var(--fg);
}
window.bar .clock .hours {
  color: var(--YELLOW);
}
window.bar .clock .minutes {
  color: var(--fg);
}
window.bar .clock .time-format {
  font-size: 10px;
  color: var(--fg-alt);
}

.wifi-menu {
  background: var(--bg);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--bor);
}
.wifi-menu .header {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
}
.wifi-menu .header switch {
  padding: 0;
  margin: 0;
}
.wifi-menu .header switch slider {
  margin: 2px;
  min-width: 5px;
  min-height: 5px;
}
.wifi-menu .body {
  margin-top: 10px;
  font-size: 11px;
  font-weight: 500;
}
.wifi-menu .body .wifi {
  padding: 10px 20px;
  margin: 5px 0px;
}
.wifi-menu .body .wifi.connected {
  background: var(--YELLOW);
  color: var(--DARK);
}

.calendar-popup {
  background: var(--bg);
  border: 1px solid var(--bor);
  border-radius: 8px;
  box-shadow: none;
  font-size: 12px;
  font-family: "SF Pro", "Liga SFMonoNerdFont";
}
.calendar-popup header {
  padding: 10px;
  border-bottom: 1px solid var(--bor);
  font-weight: 700;
  font-size: 13px;
  color: var(--fg);
}
.calendar-popup header button {
  color: var(--fg-alt);
  background: transparent;
  box-shadow: none;
  border-radius: 3px;
}
.calendar-popup header button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.calendar-popup grid {
  padding: 5px;
}
.calendar-popup grid label.day-name {
  color: var(--GREEN);
  font-size: 12px;
  font-weight: 600;
}
.calendar-popup grid label.today {
  background: var(--YELLOW);
  color: var(--DARK);
  font-weight: bold;
  border-radius: 6px;
  padding: 2px 4px;
}
.calendar-popup grid label:selected {
  background: var(--YELLOW);
  border-radius: 6px;
  padding: 2px 4px;
}
.calendar-popup grid label:selected:hover {
  background: var(--ORANGE);
}
.calendar-popup grid label:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

/*# sourceMappingURL=style.css.map */
